<link529
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
  <canvas id="canvas1"></canvas>
  <style>
    html{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    background-color: #000;

}
#canvas1{
    position: absolute;
    top: 0; left:0;
    width: 100%;
    height: 100%;
    background-color: #000;

}
      *,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section {
  height: 300px;
  width: 400px;
  background-color: rgba(197, 132, 151, 0.25);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);

  box-shadow: 0 0 40px rgba(117, 18, 18, 0.6);
  padding: 50px 35px;
}
section * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

@media (prefers-color-scheme: dark) {
  section * {
    color: #ffffff;
  }
}

section h3 {
  font-size: 50px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: lightblue;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #880e0e;
}

@media (prefers-color-scheme: dark) {
  ::placeholder {
    color: #e5e5e5;
  }
}

button {
  margin-top: 50px;
  width: 100%;
  background-color: #5e1717;
  color: #ffffff;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 150px;
}

button:hover {
  background-color: rgba(63, 7, 7, 0.7);
}

.social {
  margin-top: 30px;
  display: flex;
}
.social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(159, 78, 202, 0.75);
  color: #150f03;
  text-align: center;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .social div {
    color: #eaf0fb;
  }
}

.social div:hover {
  background-color: rgba(159, 78, 202, 0.5);
}



.social .fb {
  margin-left: 25px;
}
.social i {
  margin-right: 4px;
  margin-top: 10px;
}

  </style>
  <script src="https://cdn.jsdelivr.net/npm/tsparticles@1.28.0/dist/tsparticles.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2.5.0/custom-elements-es5-adapter.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2.5.0/webcomponents-loader.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/web-particles@1.1.0/dist/web-particles.min.js"></script>
  
  <section>
    <h3>Team-Meet</h3>
  
    <a  href="auth/google"><button>Google Sign In</button></a>
    <div class="social">
      <!-- <div class="go"><i class="fab fa-github"></i> Github</div>
      <div class="fb"><i class="fab fa-discord"></i> Discord</div> -->
    </div>
  </section>
  <script>
    const canvas = document.getElementById("canvas1");
const ctx = canvas.getContext("2d");
canvas.width = window.innerWidth;
canvas.height = window.innerHeight;

let area=Math.sqrt(canvas.width*canvas.height);
let radiusLength = canvas.width * canvas.height / 8000;


let particlesArray;

let mouse = {
    x: null,
    y: null,
    radius: radiusLength
}

window.addEventListener("mousemove", function (event) {
    mouse.x = event.x;
    mouse.y = event.y;

});
window.addEventListener("mouseout", function (event) {
    mouse.x = undefined;
    mouse.y = undefined;

});
window.addEventListener("resize", function (event) {
    canvas.width = innerWidth;
    canvas.height = innerHeight;
    radiusLength = canvas.width * canvas.height / 9000;
    createParticles();


});






class Particle {
    constructor(x, y, velX, velY, size, color) {
        this.x = x;
        this.y = y;
        this.velX = velX;
        this.velY = velY;
        this.size = size;
        this.color = color;
    }

    draw() {
        ctx.beginPath();
        //draw a circle and fill it 
        //at posX, posY ,of size, fromAngle 0rad ,to 2pi Rad 
        ctx.arc(this.x, this.y, this.size, 0, Math.PI * 2, false);
        ctx.fillStyle = "#8c5523"
        ctx.fill();
        
    }

    update() {
        if (this.x > canvas.width || this.x < 0) {
            this.velX = -this.velX;
        }
        if (this.y > canvas.height || this.y < 0) {
            this.velY = -this.velY;
        }

        // collisions
        let dx = mouse.x - this.x;
        let dy = mouse.y - this.y;
        let dist = Math.sqrt((dx * dx) + (dy * dy));
        if (dist < mouse.radius + this.size) {
            //Buffers on edge of the screens
            const buffer=this.size * 10
            
            if (mouse.x < this.x && this.x < canvas.width - buffer) {
                this.x += 10;
            }
            if (mouse.x > this.x && this.x > buffer) {
                this.x -= 10;
            }
            if (mouse.y < this.y && this.y < canvas.height - buffer) {
                this.y += 10;
            }
            if (mouse.y > this.y && this.y > buffer) {
                this.y -= 10;
            }
        }
        this.x += this.velX;
        this.y += this.velY;
        this.draw();
    }
}

function createParticles() {
    particlesArray = [];
    let noOfParticles = canvas.width * canvas.height / 5000;
    
    for (let i = 0; i < noOfParticles; i++) {
        let size = (Math.random() * 5) + 1;
        
        let x = (Math.random() * (innerWidth - 2 * size ) + 2 * size);
        let y = (Math.random() * (innerHeight - 2 * size ) + 2 * size);
        let velX = (Math.random() * 5) - 2.5;
        let velY = (Math.random() * 5) - 2.5;
        let color = "#8c5523"
        // console.log(x + " " + y + " " + size + " " + velX + " " + velY);

        particlesArray.push(new Particle(x, y, velX, velY, size, color));
    }
}
function connect(){
    
    let vicinityDist= canvas.width*canvas.height/81;
    for(let i=0;i<particlesArray.length;i++){
        for(let j=i;j<particlesArray.length;j++){
            let distance= Math.pow(particlesArray[i].x-particlesArray[j].x,2) 
                        + Math.pow(particlesArray[i].y-particlesArray[j].y,2);

            let opacity=1-distance/25000;            
            //actually the square of distance

            if (distance < vicinityDist){
                //draw a line between them
                ctx.strokeStyle="rgba(140,85,31,"+ opacity +")";
                ctx.lineWidth=1;
                ctx.beginPath();
                ctx.moveTo(particlesArray[i].x,particlesArray[i].y);
                ctx.lineTo(particlesArray[j].x,particlesArray[j].y);
                ctx.stroke();

            }            
        }
    }
}

function animate() {
    requestAnimationFrame(animate);
    ctx.clearRect(0, 0, innerWidth, innerHeight);

    for (let i = 0; i < particlesArray.length; i++) {
        particlesArray[i].update();
    }
    connect();
}



createParticles();
animate();

  </script>
  </html>
