/* .schedule__form {
    min-height: 80vh;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 3px solid #300512;
    padding: 5vh 3vw;
    margin: 10vh 10vw;
    align-content: center;
    background: linear-gradient(#2d238a, #242423);
} */